rect[fill='#82838b'] {
    fill: var(--offline);
}

.status_a423bd[style='background-color: rgb(130, 131, 139);'] {
    background: var(--offline) !important;
}

rect[fill='#43a25a'],
path[fill='#43a25a'],
path[fill='var(--status-positive)'],
.vc-platform-indicator>svg[fill="#43a25a"] {
    fill: var(--online);
}

.status_a423bd[style='background-color: rgb(67, 162, 90);'] {
    background: var(--online) !important;
}

rect[fill='#ca9654'],
.vc-platform-indicator>svg[fill='#ca9654'] {
    fill: var(--idle);
}

.status_a423bd[style='background-color: rgb(202, 150, 84);'] {
    background: var(--idle) !important;
}

rect[fill='#d83a42'],
.vc-platform-indicator>svg[fill='#d83a42'] {
    fill: var(--dnd);
}
